{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Upload a X-ray image</h1>
      <hr />
      <br />
      <br />

      <form action="/form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Select a X-ray image</label>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              name="image"
              id="image"
            />
            <label class="custom-file-label" for="image">Select a X-ray image...</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload Image</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
