{% extends "base.html" %} {% block content %}
<h1 class="mt-5">
  Prediction returned by CNN model.
</h1>
<a class="btn btn-secondary btn-sm" href="/form" role="button">Back</a>
<br />
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">Probability</th>
      <th scope="col">Class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ accuracy }}</td>
      <td>{{ class_ }}</td>
    </tr>
  </tbody>
</table>
<div>
  <h4>Shap for sample {{ class_ }}.</h4>
  <img src="{{url_for('static', filename='predict/shap_'+filename)}}" />
</div>
{% endblock %}
